
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap');

.navbar ul {
    font-family: 'Figtree', sans-serif;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #191919;
    color: #F8F8F8;
    font-weight: 400;
    text-transform: uppercase;
}

li {
    list-style: none;
    cursor: pointer;
}

.search {
    width: 170px;
    height: 5vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.nav-links {
    
}
.nav-links:hover {
    border: 1px ridge #d1c7c7b5;
    border-radius: 0.2rem;
    padding: 0.3rem;
    transition: 0.5s;
    opacity: 0.8;
}