@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap");

.navbar {
  height: 10vh;
  position:fixed;
  width: 100vw;
  top:0;
}

.navbar ul {
  font-family: "Figtree", sans-serif;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #191919;
  color: #f8f8f8;
  font-weight: 400;
  text-transform: uppercase;
}



li {
  list-style: none;
  cursor: pointer;
}

.search {
  width: 60px;
  height: 5vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 15px;
}
.nav-links li:hover {
  border: 1px ridge #faf6f6f5;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: 0.5s;
  opacity: 0.8;
}

.navbar-mobile-menu-icon {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.mobile-button {
  background-color: aqua;
  border: 1px solid black;
  width: 50px;
  display: flex;
  align-items: center;
}

a:visited,
a {
  text-decoration: none;
  color: #f8f8f8;
}
.mobile-menu-icon {
  /* position: absolute;
  top: 1rem;
  right: 1rem;
  color: #f8f8f8;
  size: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer; */
  display: none;
}

@media (max-width: 768px) {
   .nav-links li,
   
   .nav-links > .search{
    display:none;
  }

  .mobile-menu-icon {
    color: #f8f8f8;
    transition: all 0.4s ease-in-out;
    top: 1rem;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    display: block;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
  }

  

  .nav-links-mobile {
    
    

    position: absolute;

    text-decoration: none;
    color: #f8f8f8;
    font-weight: 400;
    list-style: none;
    left: 0;
    top: 0;
    background-color: #191919;
    transition: all 0.5s ease-in-out;
    transition-duration: 3s;
    width: 100%;
    height: 95vh;
    overflow-x: hidden;
    z-index: 1;

    display: flex;
    flex-direction: column;
  }

  .nav-links-mobile:hover {
    border: 1px ridge #faf6f6f5;
    border-radius: 0.2rem;
    padding: 0.3rem;
    transition: all 1s ease-in-out;
    
    
  }

  .nav-links-mobile li:hover {
    border: 1px ridge #faf6f6f5;
    border-radius: 0.2rem;
    padding: 0.3rem;
    transition: all 0.2s ease-in-out;
    
    opacity: 0.9;
  }
}
