body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
}



#type {
    
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 10px;
    
}

#typewrite {
    position: relative;
}

#typewrite::after {
    content: '';
    width: 0.8px;
    border-right: 2px solid black;
    height: 100%;
    margin-left: 0.5rem;
    animation: blink 1.2s infinite ease;
}

@keyframes blink {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}