body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: radial-gradient(#faf7f7, #324246b4)
} 



#type {
    
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 10px;
    
}

#type {
    position: relative;
}

#type::after {
    content: '';
    width: 0.8px;
    border-right: 3px solid black;
    height: 100%;
    margin-left: 0.5rem;
    animation: blink 1.2s infinite;
    
}

@keyframes blink {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}