* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 100vh;
    
}

.btn {
    position: relative;
    height: 150px;
    width: 450px;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4em;
    font-weight: bold;
}

.default-side {
    background-color: white;
    border: 10px solid #069;
    color: #069;
}

.hover-side {
    color: white;
    background-color: #069;
}

