
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');


#question {
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.1rem;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(45px);
    max-width: 500px;
    
    padding-block:0.5rem;
    
    padding-inline: 5rem;
    
}

#question h2
 {  font-size: 1.3rem;
    letter-spacing: 0.15rem;
    margin-bottom: 2rem;
    font-family: 'Red Hat Display', sans-serif;
}

#question p {
    margin-bottom: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    
}



@media (min-width:480px) {
    #question h2 {
      padding-inline: 1.5rem;
    } 
    #question  {
    padding-block: 1rem;
    height: 80%;
    }
  }