.option {
   
    background-color:#404040 ;
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: 1rem;
    padding-inline: 2rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    opacity: .7;
    transition: .4s;
}

.option:hover {
    background-color: #27272a;
    opacity:1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #4bc946a5;
    transition: 0.5s;
    font-weight: bold;
}

.wrong {
    background-color: #4b4b4ba3;
    opacity: 0.4;
    transition: 1s;
}