* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0.140turn, #baadfcdc, #9adade);
}

.container {
    width: 60vw;
    min-width: 600px;
    height: 60%;
    border: 1px solid rgba(162, 160, 160, 0.29);
    
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    
}

.esquerda {
    width:456px;
    height:456px;
    background-color: aliceblue;
    
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.meninaPraia {
    width: 350px;
    height: 350px;
}

.direita {
    
    background: rgba(255,255,255,0.15);
    width:456px;
    height:456px;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}