

html {
    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    align-items: center;
    background-image: linear-gradient(0.140turn, #baadfcdc, #9adade);
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
  }
 