*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111;
    
}
html {
    background: linear-gradient(0.140turn, #baadfcdc, #9adade);
}

body {
    display: flex;
    align-items: center;
    justify-content:center;

    height: 100vh;
     
    
}

.container {
    border: 1px solid rgba(139, 138, 138, 0.302);
    background-color: aliceblue;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
}

.sub-texto {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
}

h1 {
    font-size: 9.5rem;
    letter-spacing: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

h2{
    font-family:monospace;
    font-size: 2em;
    max-width: 600px;
    text-align: center;
}

.indisponivel {
    padding-top: 0.6em;
    font-family:monospace;
    font-size: 1.4em;
    max-width: 500px;
    text-align: center;
    color: #313232;
    
}

