* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111;
    font-family: 'Poppins', sans-serif;

}

html {
    background: linear-gradient(0.140turn, #baadfcdc, #9adade);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


}

.container {
    border: 1px solid rgba(139, 138, 138, 0.302);
    background-color: aliceblue;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 800px;
    height: 600px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
     
}

.error-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.spaceship {
    width: 250px;
    transform: rotate(15deg);
}

.sub-texto {
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    gap: 5px;
}

h1 {
    font-size: 12rem;
    letter-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

h2 {
    
    font-size: 1.8em;
    max-width: 600px;
    
}

.indisponivel {
    
    
    font-size: 1.3em;
    max-width: 600px;
    text-align: left;
    color: #5a5b5b;

}

.Home {
    border: 2.5px solid #9adade8d;
    text-decoration: none;    
    width: 120px;
    height: 44px;    
    border-radius: 5px;
    margin-top: 1em;
    background-color:transparent;
    
}   

.Home:hover {
    background-color: #9adade40;
    cursor: pointer;
    border: #0c0c0c;
    color: #eee;
}

a {
    text-decoration: none;
}