@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}


li, a {
    text-decoration: none;
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.nav-links li {
    color: #171717;
    font-weight: 400;
    cursor: pointer;
    
}

.hero  {
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
    
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

.card-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    text-align: center;
    width: 300px;
    
    height: 300px;
    padding: 1em 1.5em 1.5em;
    border-radius: 0.3em;
    background-color: rgba(255, 255, 255, .20);
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 15%);
}
.social {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.social > .icone {
    font-size: 30px;
    
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, .20);
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
      
}

button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

