@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li, a {
    text-decoration: none;
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.nav-links li {
    color: #171717;
    font-weight: 400;
    cursor: pointer;
    
}

.hero {
    text-align: center;
    margin-top: 15%;
    font-size: 50px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    
    height: 10vh;

    box-shadow: rgba(50,50,93, 0.15) 0 30px 30px -20px;

    
   
    
}