#welcome {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

#welcome h2,
#welcome p {
    margin-bottom: 1rem;
}

#welcome img {
    width: 200px;
    padding-block: .3rem;
}

@media (min-width:480px) {
    #welcome img {
        resize: 300px;
        padding-block: .3rem;
    }

    #welcome {
        height: 500px;
    }
    
}
