#welcome {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#welcome h2,
#welcome p {
    margin-bottom: 1rem;
}

.logo {
    width: 250px;
    padding-block: .3rem;
}


