.container {
    position: absolute;
    width: 100%;
    height:100%;
    backdrop-filter: blur(10px);
    /* background-color:#191919 ; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.947) 20%, rgba(0, 0, 0, 0.871) 70%,rgba(0, 0, 0, 0.871) 70%) ;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #f8f8f8;
}