@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-bottom:1rem;
  border-radius: 1rem;
  border: 1px solid #e073660a;
  max-width: 500px;
  
  height: 800px;
  background-color: rgba(255,255,255, 0.008);
  width:500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;  
}

.App h1 {
 
    
  
  font-size: 1.8rem;
  margin-inline:0.3rem;
  margin-top:2rem;
  margin-bottom:2rem;
  
  color: #d1d5db;
  font-family: "Cinzel", serif;
  animation: 1.5s ease-in;
  animation-name: quiz-app;
}

@keyframes quiz-app {
    /* 0% {
        transform: translateY(-10%);
      }
    
      50% {
        transform: translateY(5%);
      }
    
      100% {
        transform: translateY(0%);
      }
 */
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }

 
  75% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width:480px) {
  html,
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    
    padding-bottom: 0.1rem;
    
  }
  .App h1 {
    padding-block:1rem;
    font-size: 2rem;
    
    
  } 
  

  

}
