@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.App {
  flex-direction: column;
  
  text-align: center;
  padding-block: 1rem;
  border-radius: 1rem;
  border: 1px solid #e073660a;
  max-width: 500px;
  
  
  background-color: rgba(255,255,255, 0.008);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  width:600px;
  
}

.App h1 {
  font-size: 1.8rem;
  margin-inline:0.3rem;
  margin-bottom: 1rem;
  color: #d1d5db;
  font-family: "Cinzel", serif;
  animation: 1.5s ease-in;
  animation-name: quiz-app;
}

@keyframes quiz-app {
    /* 0% {
        transform: translateY(-10%);
      }
    
      50% {
        transform: translateY(5%);
      }
    
      100% {
        transform: translateY(0%);
      }
 */
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }

 
  75% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width:480px) {
  .App {
    padding-block: 3rem;
    padding-bottom: 3rem;
  }
  .App h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  } 
  

  

}
