@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff
  
}
body, 
html {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  
  background-color: #171717;
}

img {
  margin-top: 2rem;
  width: 350px;
  max-width: 100%;
  filter: contrast(90%);
 
}
 

  
  


button {
  font-weight:bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background-color: #944949fd;
  border-radius: .3rem;
  border: none;
}

button:hover {
  background: #7f1d1d;
  border:0.5px solid#fff;
}
