@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff
  
}
body, 
html {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  background-color: #171717;
}



 img {
  margin-top: 3rem;
  width: 200px;
  max-width: 100%;
  filter: invert(-10%);
 
}
 
.logo {
  width: 200px;
}

  
  


button {
  font-weight:bold;
  font-size: 1.4rem;
  margin-top:2rem;
  cursor: pointer;
  opacity: 0.7;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: .3rem;
  border: none;
}

button:hover {
  transition: .4s;
  color:#fff;
  animation: ease-in;
  border: 1px solid #e4282854;
  background: #f7caca51;
  
  
}

@media (min-width:480px) {
  
  }