@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff
  
}
body, 
html {
  display: flex;
  align-items: flex-start;
  
  overflow: hidden;
  height: 100vh;
  background-color: #171717;
}

img {
  margin-top: 3rem;
  width: 350px;
  max-width: 100%;
  filter: contrast(90%);
  animation: 1.5s ease-in-out;
  animation-name: dragon;
}
 

  
  


button {
  font-weight:bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background:linear-gradient(90deg,#737373,#a3a3a3) ;
  border-radius: .3rem;
}

button:hover {
  background:linear-gradient(90deg,#a3a3a3,#737373) ;
}
