#root {
  max-width: 1980px;
  margin: 0 ;
  padding: 0;
  text-align: center;
}


.container {
  display: flex;
  flex-direction: column;
  
  height:100%;
  padding-bottom:  30px ;
  background-color: #F8F8F8;
}

.Banner  img  {
   
  width: 300px;
   
   
}

@media (max-width: 768px) {
  

nav-links {
  display: none;
}

.container {
  z-index: 3;
}
}



