#root {
  max-width: 1980px;
  margin: 0 auto;
 
  text-align: center;
}



.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}





.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
