#root {
  max-width: 1980px;
  margin: 0 ;
  padding: 0;
  text-align: center;
}


.container {
  display: flex;
  flex-direction: column;
  
  height:100%;
  padding-bottom:  50px  ;
  background-color: #F8F8F8;
}

@media (max-width: 768px) {
  .banner {
  transform: scaleY(-1);
    }

    nav-links {
      display: none;
    }
}



