@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}



.banner img {
  object-fit:cover;
  width: 100%;
  height: 500px;
   
   
}

