html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
  overflow: hidden;
  background-color:  #040f16;
}


.item {
  min-height: 20rem;
  min-width: 30rem;

  padding: 18px;
}

.item img {
  width: 95%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
  
  
  background: #040f16;
}

.carousel {
  cursor: grab;
  background: #040f16;
  overflow: hidden;
  
  width: 100vw;
}
