* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marcellus", sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #010801;
}

.slider {
    position: relative;
    background: #010801;
    width: 800px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 0.3em;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider:hover,
.slider:focus-within {
    transform: scale(1.05);
    transition: 500ms ease-in;
}

.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    

}

 .info {
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    backdrop-filter: blur(3px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateY(520%);
    opacity: 0;
}

/*  .slide:hover
  {
    transform: scale(1.05);
    transition: 500ms ease;
} */