* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marcellus", sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #010801;
}

.slider {
    position: relative;
    background: #010801;
    width: 800px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

